
  /*  */


.messenger {
  display: flex;
  height: calc(100vh - 70px);
  overflow: hidden;
}

.chatMenu {
  flex: 3;
}

.chatBox {
  flex: 7;
  overflow-y: scroll;
  padding-right: 15px;
  scrollbar-width: thin;
  scrollbar-color: #777777 #ffffff;
}

.chatBox::-webkit-scrollbar {
  width: 5px;
}

.chatBox::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.chatBox::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 5px;
}
.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 15px;
  scrollbar-width: thin;
  scrollbar-color: #777777 #ffffff;
}

.chatBoxTop::-webkit-scrollbar {
  width: 5px;
}

.chatBoxTop::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.chatBoxTop::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 5px;
}
.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #333333;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.chatMessageInput:focus {
  outline: none;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatMenuInput {
  width: 80%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}


.chatBoxWrapper
{
    padding: 10px;
    background-color: rgb(112, 130, 136);
    height: 100%;
}
.chatMenuWrapper{
    padding: 10px;
  background-color: #594f4f;
  height: 100%;

}
