.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.messageImg{
    width:32px;
    height:32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

}
.messageTop{
    display: flex;
    
}
.messageText{
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    max-width: 300px;
    color:white;

}
.messageBottom{
    font-size: 12px;
    margin-top: 10px;
}

.message.own{
    align-items: flex-end;

}

.message.own .messageText{
    background-color: rgba(245, 241, 241);
    color: black;
    
}
